Sphinx>=1.7.5
sphinx-autobuild>=0.7.1
sphinx-rtd-theme>=0.4.0
sphinxcontrib-napoleon>=0.6.1
sphinxcontrib-websupport>=1.1.0
MyST-Parser
furo
sphinx-copybutton
sphinx-autobuild
numpy
scipy
mdanalysis>=2.0.0
appdirs>=1.4
pandas>=1.0.0
python_requires = >=3.5
